/* Generics */
* {
  box-sizing: border-box;
}

:root {
  --color1: #f4f5f6;
  --color2: #c7c7c7;
  --color3: black;
  --text-header: rgba(3, 3, 3, 0.4);
  --main-color: #f72210;
}

body {
  background-color: var(--color1);
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

.border-temp {
  border: 1.5px dashed blue;
}

.border-temp-1 {
  border: 2px dashed rgb(12, 1, 1) !important;
}

.border-temp-2 {
  border: 3px dashed yellowgreen;
}

.hover-none:hover {
  text-decoration: none;
  color: white;
}

.hover-link-cards:hover {
  text-decoration-color: var(--main-color);
}

.width-custom {
  max-width: 1310px;
}

.news-catagory {
  color: var(--text-header);
  font-size: 16px;
  font-weight: 600;
  margin: 0.7rem 0;
}

.card {
  border: unset;
}

.main-bg {
  background-color: var(--main-color);
}

.white-bg {
  background-color: #fff;
}

.main-color {
  color: var(--main-color);
}

/* header */

.header-top {
    height: 5.9375em;
  }
  
  .weather > img {
    width: 1.5em;
    height: 1.5em;
  }
  
  .weather p {
    font-size: 1em;
  }
  
  .header-top_logo > img {
    height: 95%;
    width: 25em;
    margin: 0 0 0 8%;
  }
  
  .header-middle {
    height: 3.3125em;
  }
  
  .header-middle::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 4.375em;
    background-color: var(--main-color);
    border-left: 0.75em solid white;
    border-top: 0.8125em solid var(--main-color);
  }
  
  .header-middle_links {
    width: 88%;
  }
  
  .header-middle_links li {
    border-right: 1px solid rgb(219, 209, 209);
  }
  
  .header-middle_links a {
    padding: 0 calc(1.7vw - 10px);
    color: black;
    font-weight: 700;
    font-size: 1.1875em;
    white-space: nowrap;
  }
  
  .header-middle_search > p {
    font-size: 1.1875em;
  }
  
  .header-middle_search > img {
    height: 1.5625em;
    width: 1.5625em;
  }
  
  .header-bottom {
    height: 2.6875em;
    border-top: 0.125em #f4f5f6 solid;
    border-bottom: 0.125em #f4f5f6 solid;
  }
  
  .header-bottom a {
    margin: 0 1rem;
    font-weight: 700;
  }
  
  .header-middle_links a:hover {
    color: var(--main-color);
    text-decoration: none;
  }

  /* main */
 
.main-news-col-1 .card-custom-img,
.main-news-col-2 .card-custom-img {
  width: 100%;
  max-height: 16.25em;
  overflow: hidden;
  position: relative;
}

.main-news-col-2 .card-custom-img {
  max-height: 19.375em;
}

.card-img-overlay {
  top: unset;
  bottom: 0;
  left: 0;
  right: unset;
  display: inline-block;
  width: auto;
  height: 2.1875em;
  padding: 0 1rem;
  line-height: 2.5em;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  background-color: rgba(240, 255, 240, 0.966);
}